/** Variables */
$white: #ffffff;
$black: #2f3138;
$blue: #0a88dc;
$grey: #d8d8d8;
$green: #00c160;
$success: #11c482;
$red: #dc0a0a;
$danger: #f10717;
$light-bg: #f0f8f8;
$border-color: #c9c9c9;
$muted-color: #a8a8a8;
$envato_green: #7cb342;

@mixin gradient-striped($color: rgba(255,255,255,.25), $angle: 135deg) {
    background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

@mixin progress-animation($animation) {
    -webkit-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin stm-button() {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: $success;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 25px;
    text-transform: uppercase;
    text-decoration: none;

    &.primary {
        background-color: $blue;
    }
}

body #wp-admin-bar-consulting_settings img {
    vertical-align: top;
    display: inline-block;
    top: 6px;
    max-width: 20px;
}

#toplevel_page_my-pearl .wp-menu-image img {
    max-width: 60%;
    height: auto;
    padding-top: 6px;
    opacity: 1;
}

.float_left {
    float: left;
}
.float_right {
    float: right;
}

.stm-button {
    @include stm-button;
    &:hover {
        color: $white;
    }
}

.stm-button-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.stm-startup-admin-content {
    //padding: 30px 35px 80px;
    background: $light-bg;
}

.stm-admin-box {
    border-radius: 5px;
    background-color: $white;
    padding: 32px 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    .__header {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 32px;
    }
}

.stm-admin-box.stm-admin-not-activated {
    background-color: $blue;
    color: $white;
    margin-bottom: 30px;
    padding: 28px 29px 34px 34px;

    .__top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .__text {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.26px;
            margin-bottom: 0;
            padding: 0;
            color: $white;

            i {
                display: inline;
                color: $white;
                font-size: 42px;
                margin-right: 16px;
            }
        }

        a {
            font-size: 16px;
            font-weight: 400;
        }
    }

    a {
        color: $white;
    }

    .__activate_row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;

        .stm-button {
            margin-right: 30px;
            white-space: nowrap;
            padding: 14px 21px 13px 13px;
            background-color: $envato_green;

            i {
                font-size: 22px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }

        .__info {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 16px;
            font-weight: 600;

            i {
                display: block;
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }
}

.stm-admin-activated {
    background-color: #ffffff;
    color: $white;
    margin-bottom: 30px;
    border-top: 5px solid $blue;
    padding: 23px 29px 34px 40px;

    .__top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .__text {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            color: $black;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: -0.26px;
            margin-bottom: 0;
            padding: 0;

            i {
                display: inline;
                color: $blue;
                font-size: 42px;
                margin-right: 16px;
            }
        }

        a {
            font-size: 16px;
            font-weight: 400;
            color: $blue;
        }
    }

    .__code_row {
        display: flex;
    }

    .__code {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $light-bg;
        border-radius: 5px;
        font-size: 20px;
        padding: 12px 23px 12px 20px;
        margin-right: 15px;
        flex-grow: 1;
        color: rgba(47, 49, 56, .5);

        i {
            display: block;
            font-size: 14px;
            color: $white;
            background-color: $green;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            text-align: center;
            line-height: 28px;
        }
    }

    .__deactivate, .new-license {
        border: 1px solid $grey;
        border-radius: 5px;
        background: transparent;
        color: $black;
        font-size: 14px;
        font-weight: 700;
        padding: 15px 19px 16px 19px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: all .1s ease-in-out;
    }

    .__deactivate:hover {
        background-color: $red;
        border-color: $red;
        color: $white;
    }

    .new-license:hover {
        background-color: $envato_green;
        border-color: $envato_green;
        color: $white;
    }

    .new-license {
        margin-left: 20px;
        line-height: 20px;
        padding: 14px 19px 13px;
    }
}

.stm_theme_info_wrap {
    display: block;
    width: 100%;
    background-color: $white;

    .theme_info_bg {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 32px 35px 30px;
        position: relative;
    }

    .left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 34%;
        z-index: 1;
    }

    .right {
        padding-top: 1px;
        padding-left: 34px;
        z-index: 1;

        .stm-about-text-wrap {
            line-height: 24px;
            font-size: 16px
        }
    }

    .stm_theme_info {
        position: relative;
        min-width: 80px;
        height: 80px;
        margin-right: 31px;
        background: url('../../../assets/admin/images/logo.png') 0 0 no-repeat;
        background-size: contain;

        .stm_theme_version {
            position: absolute;
            top: 0;
            right: 0;
            width: 34px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            font-size: 10px;
            color: #000;
            font-weight: 700;
        }
    }

    .__header {
        margin-right: 0;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 400;
        padding: 9px 0 4px 0;
        line-height: 1.3;

        b {
            font-size: 28px;
            font-weight: 700;
        }
    }
}

.stm-admin-dashboard-bg {
    display: block;
    background-color: $light-bg;
    position: relative;
}

.stm-admin-dashboard-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 36px 25px 29px;
    //max-width: 1378px;

    .stm-admin-left {
        display: block;
        position: relative;
        width: 100%;
        max-width: 31.1%;
        padding: 0 15px;
    }
    .stm-admin-right {
        display: block;
        position: relative;
        width: 100%;
        max-width: 68.9%;
        padding: 0 15px;
    }
}

.stm-admin-dashboard-banners-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 0 25px 60px 25px;
    //max-width: 1378px;

    .stm-admin-banner {
        display: block;
        width: 33.33%;
        padding: 0 15px;
        margin: 0;
        position: relative;

        a {
            display: block;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

            img {
                display: block;
                position: relative;
                width: 100%;
            }
        }
    }
}

.stm-admin-support_community {
    display: block;
    border-top: 5px solid $blue;
    border-radius: 5px;
    padding: 33px 30px 19px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    .__top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        h3 {
            color: $black;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            .__info {
                font-size: 12px;
            }

            a {
                text-transform: uppercase;
                color: $blue;
                font-size: 12px;
            }
        }
    }

    .list-wrap {
        padding-top: 23px;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0;
            margin: 0;

            li {
                width: 49%;
                padding: 0;
                margin-bottom: 10px;

                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: auto;
                    min-height: 59px;
                    text-decoration: none;
                    padding: 9px 17px;
                    border-radius: 5px;
                    overflow: hidden;
                    background-color: $light-bg;

                    i {
                        font-size: 34px;
                        color: $blue;

                        &.stmadmin-icon-youtube {
                            font-size: 26px;
                        }
                    }

                    .list-info {
                        padding: 1px 0 0 14px;

                        h4 {
                            font-size: 15px;
                            font-weight: 600;
                            color: $black;
                            line-height: 20px;
                            margin: 0 0 2px 0;
                        }

                        span {
                            color: $black;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 14px;
                        }
                    }
                }

                a[data-gda='created'] {
                    background-color: $white;
                    border: 1px solid $blue;
                }
            }
        }
    }
}

.stm-admin-changelog {
    position: relative;
    display: block;
    border-top: 5px solid $blue;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 30px 28px;
    max-height: 491px;
    overflow: hidden;

    .__top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        h3 {
            color: $black;
            font-size: 24px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: -0.24px;
            line-height: 38px;
            margin: 0;

            i {
                color: $blue;
                font-size: 40px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }

        .update-status {
            font-size: 14px;
            font-weight: 600;
            line-height: 13px;
            margin: 0;

            &.need_update {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                background-color: $green;
                border: none;
                padding: 11px 12px 10px;
                border-radius: 5px;

                a {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-between;
                    color: $white;
                    text-decoration: none;

                    i {
                        display: block;
                        font-size: 20px;
                        clear: both;
                        margin-right: 10px;
                    }
                }
            }

            &.updated {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                background-color: transparent;
                border: 1px solid $grey;
                padding: 9px 10px 9px 14px;
                border-radius: 5px;
                color: $white;

                i {
                    display: block;
                    font-size: 8px;
                    color: #fff;
                    background-color: #00c160;
                    width: 14px;
                    height: 16px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 17px;
                    padding-left: 2px;
                    margin-right: 14px;
                }
            }
        }
    }

    .chlg-row {
        margin-top: 15px;
        margin-bottom: 22px;

        .chlg-head {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            padding-bottom: 5px;
            margin-bottom: 22px;

            h4 {
                color: $black;
                font-size: 18px;
                font-weight: 600;
                line-height: 32px;
                margin: 0;
            }

            .chlg-date {
                font-size: 12px;
                font-weight: 600;
                color: $black;
                opacity: .5;
            }
        }

        .chlg-list {

            h5 {
                margin: 0;
                color: $blue;
                text-transform: uppercase;
                font-size: 12px;

                i {
                    font-size: 16px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }

            ul {
                margin: 7px 0 19px;

                li {
                    display: block;
                    position: relative;
                    padding-left: 18px;
                    margin-bottom: 10px;
                    line-height: 18px;

                    b {
                        margin-right: 5px;
                    }

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 7px;
                        left: 5px;
                        background-color: $blue;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .chlg-footer-bg {
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%,rgba(255,255,255,0.95) 64%, rgba(255,255,255,0.75) 100%);;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px 29px 27px;
    }

    .chlg-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        > a {
            display: block;
            text-decoration: none;
            color: $white;
            font-size: 13px;
            font-weight: 600;
            background-color: $blue;
            border-radius: 5px;
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
            padding: 16px 27px;
            white-space: nowrap;
            text-transform: uppercase;
        }

        .vote {
            font-size: 12px;
            line-height: 18px;
            padding-top: 3px;
            padding-left: 10px;

            a {
                display: block;
                font-size: 12px;
                color: $blue;
                text-transform: uppercase;

                i {
                    margin-left: 5px;
                }
            }
        }
    }
}

.stm-admin-checklist {
    li {
        padding-left: 32px;
        margin-bottom: 26px;
    }
    li:before {
        content: "\f12a";
        color: $success;
        display: block;
        float: left;
        font-family: dashicons;
        font-size: 26px;
        line-height: 26px;
        margin-top: -2px;
        margin-left: -32px;
    }
}

.notice.__envato-market {
    .dashicons {
        color: #dba617;
        border: 4px solid #ffeeaa;
        border-radius: 50px;
        vertical-align: middle;
    }

    .stm-button {
        float: right;
    }
}

.stm-admin-wrap {
    max-width: 100%;
    margin: 0 0 0 -20px;
    padding: 20px;
    position: relative;

    .stm-about-text-wrap {
        display: block;
        position: relative;
        overflow: hidden;
    }

    &.stm-admin-support-screen {
        .stm-admin-row {
            max-width: 1050px;
        }
    }

    .clearfix:after {
        content: '';
        display: block;
        clear: both;
    }

    .stm-nav-tab-wrapper {
        padding-top: 0;
        box-sizing: border-box;
        background-color: $light-bg;
        width: 100%;
        border: none;
        float: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        &:after {
            content: '';
            clear: both;
            display: block;
        }
        .nav-tab.hidden {
            display: none;
        }
        .nav-tab-active {
            border-bottom: 0;
            position: relative;
            &:hover {
                border-bottom: 0;
            }
        }
        a {
            color: $black;
            font-size: 16px;
            font-weight: 500;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            margin: 0;
            padding: 20px 0 25px;
            background-color: transparent !important;
            border: none;
            border-top: 5px solid transparent;
            outline: none !important;
            box-shadow: none !important;
            text-align: center;
            border-radius: 0 !important;
            transition: all .2s ease-in-out;

            &.nav-tab-active {
                background-color: $white !important;
                border-color: $blue;
            }

            &:hover {
                background-color: $white !important;
                border-color: $white;
            }

            &.has_error {
                &:after {
                    content: '\e91d';
                    font-family: 'stmadmin-icon';
                    font-size: 14px;
                    color: $red;
                    margin-left: 3px;
                }
            }
        }
        &.stm-patch-note a {
            padding: 17px 20px 15px;
        }
    }
    .top-panel {
        position: sticky;
        top: 32px;
        background: $white;
        padding: 20px 40px;
        color: $black;
        user-select: none;
        z-index: 99;
        &.top-panel-sticky {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
            margin: -20px -40px 0;
            padding: 20px 80px;
        }
        &.top-panel-not_sticky {
            position: initial;
        }
        h4 {
            color: $black;
            font-size: 18px;
            padding: 0;
            margin: 0 0 13px;
            font-weight: 700;
        }
        .builder-check {
            display: none;
            position: absolute;
            top: 100%;
            left: 100px;
            width: 140px;
            text-align: center;
            margin-top: 20px;
            z-index: 100;
            line-height: 20px;
            font-weight: 600;
            font-size: 16px;
            color: white;
            .arrow-top {
                display: inline-block;
                vertical-align: top;
                width: 3px;
                height: 34px;
                background: white;
                border-radius: 2px;
                position: relative;
                margin-bottom: 5px;
                &:before,
                &:after {
                    content: "";
                    width: 18px;
                    height: 3px;
                    background: white;
                    position: absolute;
                    top: 2px;
                    left: -2px;
                    transform: rotate(45deg);
                    border-radius: 3px;
                }
                &:after {
                    left: auto;
                    right: -2px;
                    transform: rotate(-45deg);
                }
            }
            span {
                display: block;
            }
        }
        .builder {
            display: inline-block;
            border-radius: 5px;
            background-color: $white;
            border: 1px solid $grey;
            color: $black;
            font-size: 14px;
            padding: 15px;
            + .builder {
                margin-left: 12px;
            }
            &.checked {
                background-color: $blue;
                border-color: $blue;
                color: $white;
            }
            input[type=radio] {
                margin-bottom: -2px;
                border: 1px solid $border-color;
                &:checked::before {
                    border-color: $blue;
                    width: 6px;
                    height: 6px;
                    margin: 4px;
                    background-color: $black;
                }
            }
        }
        .privacy-label {
            margin-left: 35px;
            position: relative;
            input[type=checkbox] {
                border-radius: 2px;
                border: 1px solid $border-color;
                &:checked::before {
                    margin: -1px 0 0 -2px;
                    height: 17px;
                    width: 17px;
                }
            }
            a {
                color: $blue;
                text-decoration: none;
                &:focus,
                &:active {
                    outline: 0;
                    box-shadow: none;
                }
            }

            .privacy-unchecked {
                display: none;
                width: 900px;
                height: 100%;
                position: absolute;
                top: 20px;
                left: 2px;
                z-index: 99;
                p {
                    color: $black;
                    font-size: 30px;
                    font-weight: 600;
                    max-width: 550px;
                    margin: -30px auto 0;
                    text-align: center;
                }
                img {
                    margin-bottom: 30px;
                }
            }
        }
        #search_demo {
            min-width: 290px;
            border: 1px solid $border-color;
            border-radius: 7px;
            padding: 15px;
            line-height: 15px;
            background: $light-bg url('../img/search.svg') right 15px center no-repeat;

            &::placeholder {
                opacity: 0.5;
                color: #006666;
                font-size: 13px;
                font-weight: 600;
            }
        }

        .float_right {
            position: relative;
        }

        .tooltip-no-demos {
            display: block;
            position: absolute;
            top: 100%;
            left: 10px;
            background-color: $blue;
            color: $white;
            font-size: 14px;
            filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
            border-radius: 3px;
            padding: 6px 10px;
            margin-top: 7px;
            visibility: hidden;
            opacity: 0;
            transition: all .2s ease-in-out;

            &.show-tooltip {
                visibility: visible;
                opacity: 1;
            }

            &:before {
                content: '';
                display: block;
                width: 0;
                border-bottom: 5px solid $blue;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                position: absolute;
                top: -5px;
            }
        }

        &.only-elementor-builder {
            display: flex;
            align-items: center;
            .float_left {
                order: 2;
                h4 {
                    display: none;
                }
                .privacy-label {
                    margin-left: 120px;
                }
            }
            .float_right {
                order: 1;
            }
        }
    }

    .stm_importer {
        padding: 0;
        margin: 0 0 20px 0;
        background: transparent;
        .stm_importer_note {
            strong {
                display: block;
                margin-bottom: 30px;
                font-size: 16px;
                line-height: 30px;
            }
            p {
                margin-bottom: 30px;
                color: #808080;
                > strong {
                    font-size: 24px !important;
                    font-weight: 300 !important;
                    letter-spacing: -0.2px !important;
                }
            }
        }
    }
    h1 {
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 28px;
    }
    .stm-admin-button.stm-admin-large-button {
        min-width: 130px;
        padding: 15px 20px !important;
        height: 40px !important;
        line-height: 9px !important;
        text-transform: uppercase;
        font-size: 16px;
        text-shadow: none !important;
    }
    .stm-admin-message {
        display: block;
        padding: 15px;
    }
    .theme-browser .theme {
        width: 33.3333%;
        .theme-actions {
            opacity: 1;
        }
        .theme-screenshot {
            padding: 20px;
            max-height: 300px;
            img {
                position: static;
                max-width: 100%;
                margin-top: 30px;
                max-height: 250px;
                border: 0;
            }
        }
    }
    .tgmpa {
        .tablenav.top,
        > h2 {
            display: none;
        }
        &.wrap {
            margin-right: 0;
            p > a {
                display: none;
            }
            h2 {
                font-size: 16px;
                line-height: 18px;
                margin: 10px 0;
            }
        }
    }
    h3 {
        font-size: 30px;
        font-weight: 300;
        letter-spacing: -0.2px;
    }
    ol {
        margin-left: 15px;
        color: #808080;
        font-size: 14px;
        line-height: 24px;
        li {
            margin-bottom: 30px;
            strong {
                color: #23282d;
            }
        }
    }
    .subsubsub {
        margin-bottom: 15px;
    }
    .notice {
        //display: none;
    }
    img {
        border: 0;
    }
    .two-col {
        width: 100%;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .about-title {
        margin-right: 0;
        sup {
            background: $white;
            color: #666;
            font-size: 33.333%;
            font-weight: 700;
            padding: 5px 10px;
            white-space: nowrap;
        }
        + p {
            font-size: 1.2em;
        }
    }
    .last-feature {
        margin-right: 0 !important;
    }
    .panel {
        border-bottom: none;
        width: 100%;
        &:first-child {
            display: block;
        }
        .submit {
            clear: both;
        }
    }
    .col {
        margin-bottom: 4.799999999%
    }
    .screenshot-image {
        text-align: right;
        img {
            max-width: 100%;
            height: auto;
        }
        span {
            background: #0074a2;
            color: $white;
            font-size: .618em;
            text-transform: uppercase;
            padding: .53em 1em;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .plugin-card {
        width: 100%;
        .plugin-action-buttons {
            font-size: 13px;
        }
    }
    #envato-market-items {
        margin: 0;
        padding: 0;
        li {
            background-color: $white;
            border: 1px solid #dedede;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            min-height: 40px;
            padding: 10px 40px 10px 10px;
            position: relative;
            &.not-authorized {
                border-color: #dc3232
            }
        }
        .item-delete {
            background: 0 0;
            border: none;
            box-shadow: none;
            color: #b3b9be;
            cursor: pointer;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 38px;
            height: 38px;
            &:focus {
                -webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
                box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
            }
            &:hover {
                color: #d61c00;
            }
        }
    }
    .stm_message img {
        border: 0;
    }

    &.stm-system-status {

        .stm-admin-system-status-wrap {
            background: $light-bg;

            .stm-admin-ss-header {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: flex-start;
                background: $white;
                position: relative;
                padding: 45px 40px 45px;

                h3 {
                    font-size: 28px;
                    font-weight: 700;
                    margin: 7px 212px 0 0;
                    white-space: nowrap;
                    line-height: 30px;
                }

                .desc {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    i {
                        color: $blue;
                        font-size: 18px;
                        margin-right: 11px;
                    }

                    span {
                        display: block;
                        font-size: 14px;
                        line-height: 24px;
                        margin-top: -5px;
                    }
                }
            }
        }

        .stm-admin-ss-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            //max-width: 1363px;
            padding: 30px 39px;

            .stm-admin-ss-col-left {
                display: block;
                width: 75%;
            }
            .stm-admin-ss-col-right {
                display: block;
                width: 25%;
                padding-left: 30px;
                text-align: center;

                a {
                    &:focus,
                    &:active,
                    &:hover {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }

        table.widefat {
            margin-bottom: 40px;
            border: none;
            border-top: 5px solid $blue;
            border-radius: 5px;
            padding: 23px 41px;

            thead {
                th {
                    border: none;
                    font-size: 16px;
                    font-weight: 700;
                    white-space: nowrap;
                    text-align: left;

                    &:first-child {
                        width: 62%;
                    }

                    &:nth-child(2) {
                        padding-left: 0;
                    }

                    &:last-child {
                        text-align: right;
                    }
                }
            }

            tbody {

                tr {
                    &:first-child {
                        td {
                            padding-top: 30px;
                        }
                    }
                }

                td{
                    vertical-align: middle;

                    &:last-child {
                        text-align: right;
                    }

                    &:nth-child(2) {
                        padding-left: 0;
                    }

                    .stmadmin-icon-imported-check {
                        color: $green;
                        font-size: 10px;
                        margin-left: 5px;
                    }

                    .stmadmin-icon-round-error {
                        color: $red;
                        font-size: 16px;
                        margin-left: 5px;
                        vertical-align: middle;
                    }

                    span.ss-error {
                        font-weight: 700;
                        color: $red;
                        vertical-align: middle;
                        line-height: 20px;
                    }

                    .plug_bold {
                        font-weight: 700;
                        vertical-align: middle;
                        line-height: 17px;
                    }
                }

                tr:nth-child(even) {
                    background-color: $light-bg;
                }
            }
        }
    }

    &.builder-no-active {
        .top-panel {
            .builder-check {
                display: block;
            }
        }
        .stm_demo_import_choices {
            &:after {
                display: block;
                z-index: 10;
            }
        }
    }
    &.builder-active {
        .install {
            display: block;
        }
    }

}

.developer_access_popup_wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    //max-width: 1430px;
    z-index: -1;

    &.show {
        z-index: 20;

        .developer_access_bg {
            opacity: 1;
            visibility: visible;
        }
    }

    .developer_access_bg {
        display: block;
        width: 100%;
        height: 100%;
//        background: rgba(240, 248, 248, 0.9);
        background: rgba(47, 49, 56, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    .developer_access_window {
        display: block;
        width: 100%;
        max-width: 408px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white;
        padding: 57px 46px;
        z-index: 10;
        text-align: center;
        border-radius: 10px;

        h4 {
            font-size: 28px;
            font-weight: 700;
            color: $black;
            margin: 0 0 40px;
        }

        .link-wrapper {
            position: relative;

            &.preloader {
                &:after {
                    content: "\e901";
                    font-family: 'stmadmin-icon';
                    font-size: 12px;
                    position: absolute;
                    top: 12px;
                    right: 8px;
                    color: $blue;
                    -webkit-animation:spin 3s linear infinite;
                    -moz-animation:spin 3s linear infinite;
                    animation:spin 3s linear infinite;
                }
            }
        }

        textarea {
            display: block;
            width: 100%;
            min-height: 116px;
            resize: none;
            vertical-align: middle;
            border-color: $grey;
            background-color: $light-bg;
            padding: 15px 22px;
        }

        .btns-wrapp {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 33px;
        }

        a {
            display: block;
            text-decoration: none;
            border-radius: 5px;
            transition: all .2s ease-in-out;
            color: $white;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);

            &#copy_developer_access_link {
                background-color: $blue;
                padding: 18px 39px;
            }

            &#revoke_developer_access {
                background-color: $danger;
                padding: 18px 15px;
            }

            &:hover {
                color: $white;
            }
        }

        .close-gda {
            display: block;
            position: absolute;
            top: 13px;
            right: -42px;
            z-index: 50;
            cursor: pointer;

            i {
                font-size: 22px;
                color: $white;
            }
        }
    }
}

.stm-admin-registration-steps {
    span.dashicons {
        position: relative;
        top: -2px;
        margin-right: 15px;
        vertical-align: middle;
    }
    p {
        min-height: 105px;
    }
}

/* Styling admin */
body.motors_page_stm-admin-support,
body.motors_page_stm-admin-plugins,
body.motors_page_stm-admin-demos,
body.motors_page_stm-admin-system-status,
body.toplevel_page_my-pearl {
    height: auto;
    background-color: $white;
}

.stm-admin-message {
    margin: 30px 0 0;
    background-color: $red;
    color: $white;
    font-size: 16px;
    line-height: 30px;

    a {
        color: $white !important;
        outline: none !important;
    }
}


.stm-admin-row {
    margin: 0 -15px;
    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

.stm-admin-two-third {
    float: left;
    padding: 0 15px;
    width: 62%;
}

.stm-admin-one-third {
    float: right;
    padding: 0 15px;
    width: 30%;
    text-align: right;
}

.stm-admin-important-notice .button {
    margin-bottom: 60px;
}

.stm-admin-one-half {
    float: left;
    width: 50%;
}

.stm-admin-one-half-inner {
    margin-bottom: 40px;
    padding: 0 15px;
    h3 {
        margin-top: 0;
        span {
            display: inline-block;
            vertical-align: top;
            min-width: 52px;
        }
    }
    p {
        padding-left: 56px;
    }
    a {
        margin-left: 56px;
    }
}

.stm-admin-demos-screen {
    overflow: visible;
    .stm_importer_options {
        label {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
            span {
                display: block;
                margin-top: 20px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .demos-error-view {
        display: block;
        position: relative;
        min-height: 500px;

        .demo_not_installed_popup {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            //background: rgba(240, 248, 248, 0.9);
            background: rgba(47, 49, 56, 0.6);
            padding-top: 100px;
            z-index: 10;

            .dni_popup {
                display: block;
                width: 400px;
                text-align: center;
                background-color: $white;
                padding: 56px 33px 71px;
                border-radius: 8px;

                .icon-wrap {
                    display: block;
                    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
                    background-color: #7b7b7b;
                    width: 68px;
                    height: 68px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        color: $white;
                        font-size: 32px;
                        line-height: 68px;
                    }
                }

                h4 {
                    font-size: 28px;
                    font-weight: 700;
                    color: $black;
                    margin: 23px 0 24px;

                    a {
                        color: $black;
                    }
                }

                .desc {
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 22px;
                }
            }
        }
    }
}

/* Demos List */
.stm_demo_import_choices {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 0 10px;
    padding: 50px 25px 10px;
    background-color: $light-bg;

    .privacy-unchecked-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(240, 248, 248, 0.9);
        z-index: 10;
    }
    .no_demos {
        display: none;
        width: 100%;
        text-align: center;
        padding: 150px 0;
        p {
            color: $muted-color;
            font-size: 16px;
            font-weight: 600;
        }

        i {
            font-size: 183px;
            color: $grey;
        }
    }
    label {
        display: block;
        position: relative;
        width: 25%;
        margin: 0 0 50px;
        border-radius: 5px;
        cursor: default;

        .inner {
            padding: 0 15px;
            position: relative;
        }

        &.elementor-layout-active,
        &.js_composer-layout-active {
            display: block;
        }

        &.layout-hide {
            display: none;
            &.builder-only {
                display: none !important;
            }
        }

        .stm_layout__label {
            display: block;
            text-align: center;
            padding-top: 20px;
            transition: all 0.3s ease;
            color: $black;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
            bottom: 34px;
            background: rgba(47, 49, 56, 0.6);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
        }
        &.active {
            &:after {
                background: rgba(255, 255, 255, 0.5);
            }
        }
        &.active,
        &:hover {
            .installed,
            .install,
            .plug-install-button,
            .preview_demo,
            &:after {
                opacity: 1;
                visibility: visible;
            }
            .stm_layout__label {
                color: #0073aa;
            }
        }
    }
    img {
        width: 100%;
        transform: translateZ(0);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
        transition: all 0.3s ease;
    }
    .stm_choice_radio_button {
        margin-top: 25px;
        text-align: center;
    }
    .installed {
        position: absolute;
        top: 0;
        left: calc(50% - 75px);
        padding: 37px 40px 13px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: $blue url("../img/imported-check.svg") center 13px no-repeat;
        color: $white;
        font-size: 16px;
        font-weight: 600;
        z-index: 9;
    }
    .install {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 17px 25px;
        margin: -58px 0 0 -76px;
        background-color: $green;
        color: $white;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
        z-index: 20;
        opacity: 0;
        cursor: pointer !important;
        visibility: hidden;
        transition: all 0.3s ease;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
        &:active,
        &:focus,
        &:hover {
            background: $white;
            color: $black;
        }
    }
    .plug-install-button {
        display: block;
    }
    .preview_demo {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 10px 0 0 -57px;
        padding-left: 22px;
        color: $white;
        font-size: 14px;
        line-height: 17px;
        text-decoration: underline;
        z-index: 20;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        background: url("../img/link.svg") left top no-repeat;
    }

    &:after {
        content: "";
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.6);
    }

}


.vc_license-activation-notice,
.envato-market-notice {
    display: none;
}

.stm-custom-select {
    label {
        display: block;
        margin-bottom: 10px;
    }
    .description {
        display: block;
        margin-top: 10px;
    }
}

#stm_start_price_patch button {
    margin-bottom: 0;
}

.stm-patch-price-stat {
    display: none;
}


a.toplevel_page_my-pearl {
    background: linear-gradient(-45deg, #EE7752,#E73C7E,#23A6D5,#23D5AB) !important;
    -webkit-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    background-size: 400% 400% !important;
    color: $white !important;
}

.stm_install__demo_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: .2s ease;
    z-index: 9999;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &_close {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        z-index: 10;
    }
    .inner {
        position: relative;
        max-width: 800px;
        min-width: 750px;
        height: auto;
        max-height: 85vh;
        background: $white;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        z-index: 100;

        .stm_install__demo_popup_close {
            background: transparent;
            left: auto;
            cursor: pointer;
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                margin: 15px 0 0 20px;
                width: 25px;
                height: 5px;
                background: $white;
                border-radius: 55px;
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
            &.disabled {
                opacity: 0.2;
                cursor: default;
                pointer-events: none;
            }
        }

        .stm_install__demo_reset_notice {
            position: absolute;
            top: -30px;
            left: calc(50% - 148px);
            color: $white;
            font-size: 20px;
            font-weight: 500;
        }

        .popup_header {
            padding: 25px 40px;
            background-color: $light-bg;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            color: $black;
            .float_left {
                display: flex;
                img {
                    display: inline-block;
                    max-width: 44px;
                }
                .theme_info {
                    padding: 5px 0;
                    margin-left: 12px;
                    font-weight: 700;
                    span {
                        font-size: 13px;
                        display: block;
                    }
                    label {
                        font-size: 20px;
                    }
                }
            }
            .float_right {
                .demo_info {
                    padding: 5px 0;
                    display: inline-table;
                    vertical-align: sub;
                    span {
                        font-size: 14px;
                        display: block;
                        opacity: 0.5;
                    }
                    label {
                        font-size: 14px;
                        font-weight: 700;
                    }
                    + .demo_info {
                        margin-left: 45px;
                    }
                }
            }
        }

        .popup_body {
            max-height: 45vh;
            overflow-y: scroll;
            padding: 30px 30px 30px 40px;
            user-select: none;
            .demo_plugins {
                width: 70%;
            }
            .demo_content {
                width: 30%;
            }
            h4 {
                font-size: 18px;
                font-weight: 700;
                margin: 0 0 30px;
            }

            .stm_plugin_info,
            .stm_content_info {
                position: relative;
                text-align: left;
                margin-bottom: 13px;
                width: 50%;
                float: left;
                &.clear-both {
                    clear: both;
                }
                label {
                    input[type="checkbox"] {
                        margin: 0;
                        border-radius: 2px;
                        border: 1px solid $muted-color;
                        background-color: $white;
                        width: 17px;
                        height: 17px;
                        &:focus,
                        &:active {
                            outline: 0;
                            box-shadow: none;
                        }
                        &:checked::before {
                            margin: 3px 0 0 2px;
                            height: 8px;
                            width: 10px;
                            content: url('../img/checkbox-checked.svg');
                        }
                        &:disabled {
                            background-color: $light-bg;
                            &:checked::before {
                                content: url('../img/checkbox-disabled.svg');
                            }
                        }
                        &:not(:checked) {
                            background-color: $light-bg;
                            + .title_box {
                                .label {
                                    color: $muted-color;
                                }
                            }
                        }
                    }
                    .title_box {
                        display: inline-table;
                        max-width: calc(100% - 35px);
                        margin-left: 10px;
                        .label {
                            color: $black;
                            font-size: 16px;
                            line-height: 17px;
                            font-weight: 500;
                            .content_tooltip {
                                position: relative;
                                display: inline-block;
                                vertical-align: middle;
                                .content_info {
                                    display: block;
                                    width: 15px;
                                    height: 15px;
                                    background: url('../img/info.svg') no-repeat center;
                                    background-size: contain;
                                }
                                .content_tooltip_text {
                                    min-width: 200px;
                                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                                    border-radius: 3px;
                                    background-color: $blue;
                                    color: $white;
                                    font-size: 14px;
                                    text-align: center;
                                    padding: 5px 10px 6px;
                                    position: absolute;
                                    bottom: calc(100% + 8px);
                                    right: 0;
                                    margin-right: -50px;
                                    z-index: 1;
                                    visibility: hidden;
                                    transition: visibility .2s ease-in;
                                    &::after {
                                        content: " ";
                                        position: absolute;
                                        top: 100%;
                                        right: 52px;
                                        margin-left: -5px;
                                        border-width: 6px;
                                        border-style: solid;
                                        border-color: $blue transparent transparent transparent;
                                    }
                                }
                                &:hover {
                                    .content_info {
                                        background: url('../img/info-hover.svg') no-repeat center;
                                    }
                                    .content_tooltip_text {
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                        .status {
                            color: $muted-color;
                            font-size: 12px;
                            transition: .3s ease;
                        }
                    }
                }
                &.installed {
                    label {
                        .title_box {
                            margin-left: 30px;
                            .status {
                                color: $success;
                            }
                        }
                        input[type="checkbox"] {
                            display: none;
                        }
                        &:before {
                            content: ' ';
                            display: inline-block;
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            background: url('../img/installed.svg') no-repeat center;
                            background-size: contain;
                        }
                    }
                }
                &.installing {
                    label {
                        .title_box {
                            margin-left: 30px;
                            .status {
                                color: $blue;
                            }
                        }
                        input[type="checkbox"] {
                            display: none;
                        }
                        &:before {
                            content: ' ';
                            display: inline-block;
                            position: absolute;
                            left: 9px;
                            top: 9px;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: $blue;
                        }
                        &:after {
                            content: ' ';
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 16px;
                            height: 16px;
                            border: 3px solid transparent;
                            border-top: 3px solid $blue;
                            border-right: 3px solid $blue;
                            border-left: 3px solid $blue;
                            border-radius: 50%;
                            animation: spin 1s linear infinite;
                        }
                    }
                }
                &.import_error {
                    label {
                        .title_box {
                            .status {
                                color: $red;
                            }
                        }
                    }
                }
            }
            .stm_content_info {
                width: 100%;
                float: none;
            }

            &.reset_demo_body {
                p {
                    margin: 0;
                    color: $black;
                    font-size: 15px;
                    font-weight: 500;
                }
                .reset_demo_content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 30px;
                    .demo_image {
                        max-width: 375px;
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
                    }
                    .reset_demo_info {
                        padding: 0 45px;

                        i {
                            font-size: 36px;
                        }

                        h5 {
                            color: $black;
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 600;
                            margin: 18px 0;
                        }
                        fieldset {
                            position: relative;
                            margin-top: 40px;
                            &.danger {
                                border: 2px solid $danger;
                                legend {
                                    left: -2px;
                                    padding: 2px 10px;
                                    background-color: $danger;
                                }
                                p {
                                    padding: 7px;
                                }
                            }
                            &.success {
                                legend {
                                    padding: 2px 7px;
                                    background-color: $success;
                                }
                                p {
                                    padding-top: 10px;
                                }
                            }
                            legend {
                                position: absolute;
                                color: $white;
                                font-size: 14px;
                                font-weight: 600;
                                top: -20px;
                            }
                            p {
                                margin: 0;
                                color: $black;
                                font-size: 14px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }

        .popup_footer {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            background: $white;
            border-top: 1px solid #ecebeb;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 25px 30px 25px 40px;

            .demo_progress {
                width: 71%;
                .demo_progress_info {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    color: $black;
                    font-size: 14px;
                    font-weight: 600;
                }
                .demo_progress_bar {
                    display: flex;
                    height: 8px;
                    border-radius: 10px;
                    margin: 8px 0 4px;
                    background-color: #e6eeee;
                    box-shadow: none;
                    .progress_bar {
                        border-radius: 10px;
                        background-color: $success;
                        box-shadow: none;
                        transition: width .7s ease;
                        @include gradient-striped;
                        background-size: 20px 20px;
                        &.active {
                            @include progress-animation(progress-bar-stripes 1s linear infinite);
                        }
                    }
                }

            }

            .demo_error {
                color: $red;
                font-size: 12px;
            }

            .demo_button {
                @include stm-button;
                &.installing {
                    background-color: $muted-color;
                    &:hover {
                        cursor: progress;
                    }
                }
            }
            .demo_buttons {
                .demo_button {
                    display: inline-block;
                    min-width: 90px;
                    text-align: center;
                    transition: all .05s ease-in;
                    &.danger {
                        background-color: $danger;
                        &.disabled {
                            background-color: $muted-color;
                            opacity: 0.3;
                            cursor: not-allowed;
                        }
                    }
                    + .demo_button {
                        margin-left: 15px;
                    }
                }
            }

            label {
                color: $black;
                font-size: 16px;
                user-select: none;
                input[type="checkbox"] {
                    vertical-align: bottom;
                    margin: 0 7px 0 0;
                    border-radius: 2px;
                    border: 1px solid $muted-color;
                    background-color: $white;
                    width: 17px;
                    height: 17px;
                    &:focus,
                    &:active {
                        outline: 0;
                        box-shadow: none;
                    }
                    &:checked::before {
                        margin: 3px 0 0 2px;
                        height: 8px;
                        width: 10px;
                        content: url('../img/checkbox-checked.svg');
                    }
                    &:not(:checked) {
                        background-color: $light-bg;
                    }
                }
            }

        }

        /* Privacy Policy */
        .privacy_policy {
            color: $black;
            .popup_body {
                max-height: 60vh;
                overflow-y: scroll;
                padding-right: 30px;
                padding-left: 30px;
            }
            h5 {
                font-size: 1em;
                margin: 1em auto;
            }
            p {
                text-align: left;
                margin: 5px 0;
            }
            ul li {
                text-align: left;
                margin: 0 0 15px 15px;
            }
        }
    }
}

.stm-admin-plugins-screen {

    .stm-admin-plugins-tab-content-wrap {
        display: block;
        position: relative;
    }

    .header-plugins {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        background-color: $white;
        padding: 38px 45px 20px 40px;
        position: relative;
        z-index: 5;

        .hp-left {

            h3 {
                font-size: 28px;
                font-weight: 700;
                letter-spacing: -0.28px;
                margin: 0;
                line-height: 32px;
            }

            .plug-navigate {
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin: 26px 2px 0;

                    li {
                        margin-right: 20px;

                        a {
                            color: $black;
                            font-size: 14px;
                            font-weight: 600;
                            text-decoration: none;
                            padding-bottom: 25px;
                            border-bottom: 5px solid transparent;
                            opacity: 0.5;
                            transition: opacity .2s ease-in-out;

                            &.active {
                                border-bottom: 5px solid $blue;
                                opacity: 1;
                            }
                            &:hover,
                            &:focus,
                            &:visited {
                                outline: none;
                                box-shadow: none;
                            }

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .hp-right {
            vertical-align: top;
            margin-top: -5px;

            h4 {
                font-weight: 700;
                font-size: 18px;
                color: $black;
                margin: 0 0 10px;
                line-height: 22px;
            }

            .plugin-search-wrap {
                display: block;
                position: relative;
                min-width: 287px;
                border: 1px solid $border-color;
                border-radius: 7px;
                background-color: $light-bg;

                input {
                    width: 100%;
                    outline: none;
                    box-shadow: none;
                    border: 0;
                    background-color: transparent;
                    line-height: 44px;
                    font-weight: 600;
                    font-size: 12px;
                    padding-right: 40px;

                    &::placeholder {
                        font-size: 12px;
                    }
                }

                &:after {
                    content: '\e908';
                    font-family: 'stmadmin-icon';
                    font-size: 16px;
                    color: $blue;
                    position: absolute;
                    top: 14px;
                    right: 12px;
                }
            }
        }
    }

    .plug-bg {
        display: block;
        background-color: $light-bg;
        position: relative;
    }

    .plug-wrap {
        display: block;
        position: relative;

    }

    .plugins-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 34px 22px;

        .stmadmin-plugin-loop {
            display: block;
            width: 100%;
            max-width: 300px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            background-color: $white;
            margin: 0 17px 41px 16px;
            overflow: hidden;
            transition: opacity .2s ease-in-out;

            @media(max-width: 1700px) {
                max-width: 316px;
            }

            &.grid_item_disable {
                .img-wrap, .plug-name, .info-wrap {
                    opacity: 0.3;
                }

                .plugin-preloader {
                    display: inline-block;
                }
            }

            .plugin-preloader {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 80px;
                height: 80px;

                div {
                    display: inline-block;
                    position: absolute;
                    left: 8px;
                    width: 16px;
                    background: $blue;
                    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

                    &:nth-child(1) {
                        left: 8px;
                        animation-delay: -0.24s;
                    }

                    &:nth-child(2) {
                        left: 32px;
                        animation-delay: -0.12s;
                    }

                    &:nth-child(3) {
                        left: 56px;
                        animation-delay: 0;
                    }
                }
            }

            @keyframes lds-facebook {
                0% {
                    top: 8px;
                    height: 64px;
                }
                50%, 100% {
                    top: 24px;
                    height: 32px;
                }
            }

            .img-wrap {
                display: block;
                position: relative;
                overflow: hidden;
                height: auto;
                min-height: 189px;

                @media(max-width: 1700px) {
                    min-height: 200px;
                }

                .btn-settings {
                    display: none;
                    position: absolute;
                    top: 14px;
                    right: 15px;
                    z-index: 1;
                    font-size: 13px;
                    font-weight: 700;
                    padding: 5px 12px;
                    background-color: $white;
                    border: 1px solid $border-color;
                    border-radius: 20px;
                    color: $black;
                    text-decoration: none;
                    line-height: 20px;
                    opacity: 0.6;
                    transition: all .2s ease-in-out;

                    &:hover {
                        opacity: 1;
                    }

                    i {
                        font-size: 17px;
                        vertical-align: middle;
                        margin-top: -3px;
                        margin-right: 3px;
                        position: relative;
                        display: inline-block;
                        color: $blue
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    position: relative;
                    transform: translateZ(0);
                }

                .plug-info-float {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    ul {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        margin: 0;
                        padding: 0;

                        li {
                            display: block;
                            font-size: 10px;
                            font-weight: 600;
                            margin: 0 0 0 5px;
                            border-radius: 5px 5px 0 0;
                            color: $white;
                            padding: 7px 8px 7px 10px;
                            text-transform: uppercase;
                            overflow: hidden;

                            &:first-child {
                                margin-left: 30px;
                            }

                            &.plug-required {
                                background-color: #2f3138;
                            }

                            &.plug-free {
                                background-color: #24a9ee;
                            }

                            &.plug-premium,
                            &.plug-core {
                                background-color: #ff5d5d;
                            }
                        }
                    }
                }
            }

            h3 {
                color: #2f3138;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: -0.2px;
                line-height: 22px;
                margin: 17px 27px 14px;
            }

            .info-wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px 29px;

                .info {
                    line-height: 18px;
                    margin-right: 5px;

                    a {
                        display: block;
                        text-decoration: none;
                        line-height: 14px;
                        margin-top: 2px;
                    }
                }

                .action {
                    a {
                        display: block;
                        min-width: 99px;
                        border: 1px solid #97989b;
                        background-color: $light-bg;
                        padding: 11px 0;
                        text-decoration: none;
                        border-radius: 5px;
                        transition: all .2s ease-in-out;
                        color: #97989b;
                        position: relative;
                        text-align: center;
                        font-weight: 700;

                        &.activate {
                            border-color: $green;
                            background-color: $green;
                            color: $white;

                            &:hover {
                                border-color: $green;
                                color: $green;
                                background-color: $light-bg;

                                &.waiting:after {
                                    color: $green;
                                }
                            }

                            &.waiting:after {
                                color: $white;
                            }
                        }

                        &.deactivate {
                            &:hover {
                                border-color: $blue;
                                color: $blue;
                            }
                        }

                        &.update {
                            border-color: $blue;
                            background-color: $blue;
                            color: $white;

                            &.waiting:after {
                                color: $white;
                            }

                            &:focus,
                            &:hover {
                                &.waiting:after {
                                    color: $blue;
                                }
                            }
                        }

                        &.install {
                            border-color: $blue;
                            background-color: $blue;
                            color: $white;

                            &.waiting:after {
                                color: $white;
                            }

                            &:focus,
                            &:hover {
                                &.waiting:after {
                                    color: $blue;
                                }
                            }
                        }

                        &.waiting {
                            padding-right: 10px;

                            &:after {
                                content: "\e901";
                                font-family: 'stmadmin-icon';
                                font-size: 12px;
                                position: absolute;
                                top: 12px;
                                right: 8px;
                                color: $blue;
                                -webkit-animation:spin 3s linear infinite;
                                -moz-animation:spin 3s linear infinite;
                                animation:spin 3s linear infinite;
                            }
                        }

                        &:focus,
                        &:hover {
                            outline: none;
                            box-shadow: none;
                            border-color: $blue;
                            color: $blue;
                            background-color: $light-bg;
                        }
                    }
                }
            }
        }
    }

    .demo_not_installed_popup {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        //background: rgba(240, 248, 248, 0.9);
        background: rgba(47, 49, 56, 0.6);
        padding-top: 100px;
        z-index: 10;

        .dni_popup {
            display: block;
            width: 400px;
            text-align: center;
            background-color: $white;
            padding: 56px 33px 71px;
            border-radius: 8px;

            .icon-wrap {
                display: block;
                box-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
                background-color: #7b7b7b;
                width: 68px;
                height: 68px;
                border-radius: 50%;
                text-align: center;
                margin: 0 auto;

                i {
                    color: $white;
                    font-size: 32px;
                    line-height: 68px;
                }
            }

            h4 {
                font-size: 28px;
                font-weight: 700;
                color: $black;
                margin: 23px 0 24px;

                a {
                    color: $black;
                }
            }

            .desc {
                font-size: 15px;
                font-weight: 600;
                line-height: 22px;
            }
        }
    }
}

.stm_demo_import__notice {
    background-color: $white;
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    top: -16px;
    h4 {
        margin: 5px 0;
        font-size: 15px;
        i {
            color: #23b12a;
            margin-right: 4px;
        }
    }
    p {
        margin: 0;
        font-size: 13px;
        span {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

div [class^="stm-admin-wrap"], div [class*=" stm-admin-wrap"],
div [class^="stm-admin-wrap"] div, div [class*=" stm-admin-wrap"] div {
    font-family: inherit !important;
}

#toplevel_page_stm-admin {
    .wp-menu-image {
        img {
            max-width: 22px !important;
            opacity: 1 !important;
        }
    }
}

/*Bootstrap tooltip*/
.info_tooltip {
    display: block;
    max-width: 19px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    opacity: 0;
}

.tooltip.show {
    opacity: 0.9;
}

.tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}

.tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}


.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
    padding: 0.4rem 0;
}

.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    margin-left: -4px;
    bottom: 0;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #000;
}

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
    padding: 0 0.4rem;
}

.bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
    padding: 0.4rem 0;
}

.bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 0;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #000;
}

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
    padding: 0 0.4rem;
}

.bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #000;
}

.tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.25rem;
}

/*Bootstrap tooltip end*/

#adminmenu {
    #toplevel_page_stm-admin {
        .wp-menu-image {
            margin-left: 8px;
            margin-right: 5px;
            max-width: 22px;
            img {
                display: block !important;
                max-width: 100% !important;
                height: auto !important;
                opacity: 1 !important;
            }
        }
    }
}

html body.toplevel_page_stm-admin [class^="stm-"], html body.toplevel_page_stm-admin [class*=" stm-"] {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}

a.enter_site_key_js.button-primary {
    color: $white !important;
}

//TGM notification
.stm_update_notice {
    background-color: $white;
    padding: 15px;
    font-size: 14px;
    text-align: left;
    margin: 25px 20px 0 2px;
    border-left: 5px solid #71C674
}
.stm_needs_install {
    display: none;
    &.notice-visible {
        display: block;
        box-shadow: 0 0 5px rgba(0,0,0,.05);
    }
}

.stm_update_notice__update {
    position: relative;
    padding-right: 120px;
    .button {
        position: absolute;
        top: 9px;
        right: 9px;
    }
}


/* Media Queries */
@media screen and (min-width: 783px) and (max-width: 1030px) {
    .envato-card .envato-card-bottom .num-ratings {
        display: none
    }
}

@media screen and (min-width: 783px) {
    .about-wrap {
        .col {
            float: left;
        }
        #settings {
            .col-1 {
                clear: both;
                margin-bottom: 4.8%;
            }
            .col-2 {
                margin-bottom: 4.8%;
            }
            .form-table {
                td, th {
                    float: left;
                    display: block;
                    width: 100%;
                }
                th {
                    padding-bottom: 0
                }
                td {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        #plugins {
            margin-top: 1.618em;
            .col-1 {
                clear: both;
                margin-bottom: 4.8%;
            }
            .col-2 {
                margin-bottom: 4.8%;
            }
        }
        #themes {
            margin-top: 1.618em;
            .col-1 {
                clear: both;
                margin-bottom: 4.8%;
            }
            .col-2 {
                margin-bottom: 4.8%;
            }
        }
        p.submit {
            margin-top: 0;
            padding-top: 0
        }
    }
}

@media screen and (max-width: 782px) {
    .stm-admin-wrap {
        .stm-nav-tab-wrapper {
            border: none;
            padding: 0;
            .nav-tab {
                text-align: center;
                margin: 0 0 1%;
                padding: 2%;
                width: 100%;
                box-sizing: border-box;
            }
            .nav-tab-active {
                background: $white;
                border-bottom: 1px solid #ccc;
                &:hover {
                    background: $white;
                    border-bottom: 1px solid #ccc;
                    &:after {
                        display: none;
                    }
                }
                &:after {
                    display: none;
                }
            }
        }
        .col {
            width: 100% !important;
            margin-right: 0 !important;
        }
        #plugins > div:first-child,
        #themes > div:first-child {
            margin-top: 0 !important;
        }
        p.submit {
            float: left;
            margin-top: 1.25em;
            width: 100%;
        }
        .screenshot-image {
            text-align: left;
            img {
                max-width: 100%;
            }
        }
        .button-delete {
            font-size: 15px;
        }
        .column-description {
            .description {
                max-height: none !important;
                overflow: visible !important;
            }
            a.read-more {
                display: none !important;
            }
        }
    }
}

.elementor-layout {
    .install {
        display: none !important;
    }
    &-active {
        .install {
            display: block !important;
        }
        .elementor-message {
            display: none !important;
        }
    }
    .elementor-message {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 17px 25px;
        margin: -58px 0 0 -105px;
        background-color: #999999;
        color: $white;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
        z-index: 20;
        opacity: 0;
        visibility: hidden;
        cursor: default !important;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
    }
    &:hover {
        .elementor-message {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (max-width: 1340px) {
    .stm-admin-one-half {
        width: 100%;
    }

    .stm_demo_import_choices {
        label {
            width: 32%;
        }
    }
}

@media (max-width: 878px) {
    .stm-admin-one-third {
        float: left;
        width: 100%;
        text-align: left;
    }

    .stm-admin-wrap .stm-nav-tab-wrapper a {
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .stm-about-text-wrap {
        float: left;
        width: 100%;
    }
}

@keyframes progress-bar-stripes {
    from  { background-position: 0 0; }
    to    { background-position: 20px 0; }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes dots {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

.stm-plugin-admin-notice {
    font-family: inherit !important;
    [class^="stm-"], [class*=" stm-"] {
        font-family: inherit !important;
    }
}

//RTL styles
.rtl {
    .stm-admin-wrap {
        direction: ltr;
        .stm_install__demo_popup {
            .inner {
                .popup_body {
                    .stm_content_info {
                        label {
                            input[type="checkbox"] {
                                &:checked::before {
                                    margin: 3px 3px 0 0;
                                }
                            }
                        }
                    }
                }
                .popup_footer {
                        label {
                            input[type="checkbox"] {
                                &:checked::before {
                                    margin: 3px 3px 0 0;
                                }
                            }
                        }
                }
            }
        }
    }


    
    
}
